@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #001A33;
  margin: 0;
}

@layer base {
    :root {
        --primary-100:#00FFCC;
        --primary-200:#00dfae;
        --primary-300:#00986d;
        --accent-100:#00CCFF;
        --accent-200:#006c9b;
        --text-100:#FFFFFF;
        --text-200:#e0e0e0;
        --bg-100:#001A33;
        --bg-200:#122943;
        --bg-300:#2d405d;
        
    }
}


@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .multilineEllipsis{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
  }
